<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Message</title>
</head>
<body>

    Edit {{one_message.poster.first_name}}'s Message
        <form method =POST action='/wall/edit_message/{{one_message.id}}'>
            {% csrf_token %}
            <input type='text' name='message' value='{{one_message.message}}'>
            <input type='submit' value='Make Edit'>

        </form>
    
</body>
</html>